<p>
    <% if @profile.profile_avatar.present? %>
      <%= image_tag(@profile.profile_avatar, class: 'card-img-top', width: '100%') %>
    <% else %>
      <%= image_tag('knitting_sheep', class: 'card-img-top', width: '50%') %>
    <% end %>
</p>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <% if @profile.is_guild_member == true %>
  member of the guild
  <% else %>
  not a member of the guild
  <% end %>
</p>

<p>
  <strong>Address:</strong>
  <%= @profile.street_address %>,
  <%= @profile.suburb %>,
  <%= @profile.postcode %>,
  <%= @profile.country %>
</p>

<p>
  <strong>Contact:</strong><br>
  Email: <%= @profile.user.email %><br>
  Phone: <%= @profile.phone_number %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> 

