<h1>These are the items in your cart:</h1>
<% @selected_skeins.each do |selected_skein| %>
  <%= image_tag(selected_skein.photo_main, width: '100%') %>
  <p>
    <strong>Price:</strong>
    <%= selected_skein.price %>
  </p>
  <p>
    <strong>Number selected</strong>
    1
  </p>
  <p>
    <strong>Spinned by:</strong>
    <%= selected_skein.spinned_by.profile.first_name %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= selected_skein.description %>
  </p>
  <p>
    <%= link_to 'About the yarn', yarn_path(selected_skein.yarn) %>
  </p>
<% end %>

<h1>Total Price: AUD <%= @cart_total %></h1>
