<%= form_for(fibre_type) do |f| %>
  <% if fibre_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fibre_type.errors.count, "error") %> prohibited this fibre_type from being saved:</h2>

      <ul>
      <% fibre_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :isAnimal %>
    <%= f.check_box :isAnimal %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
