<h1>Skeins</h1>

<%= form_tag skeins_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>

<%= link_to 'New Skein', new_skein_path if logged_in?(:site_admin, :spinner_seller)%>
  <% @skeins.each do |skein| %>
    <div class="card" style="width: 20rem;">
      <%= image_tag(skein.photo_main, class: 'card-img-top', width: '100%') %>
      <div class="card-block">
        <div class="row">
          <h4 class="card-title">
            <%= render "cart", skein: skein %>        
          </h4>
        </div>
        <div class="row">
          <div class="skein-spinner">
            Spinned by: <%= skein.spinned_by.profile.first_name %>
          </div>
        </div>
        <div class="row">
          <div class="skein-spinner">
            Description: <%= skein.description %>
          </div>
        </div>
        <div class="row">
          <div class="skein-availability">
            <%= skein.skein_available %> skeins available
          </div>
          <%= link_to fa_icon('ravelry'), yarn_path(skein.yarn) %>
        </div>

        <div class="row">
          <%= link_to fa_icon('info-circle'), skein %>
          <% if current_user == skein.spinned_by || logged_in?(:site_admin) %>
          <%= link_to fa_icon('pencil-square-o'), edit_skein_path(skein)  %>
          <%= link_to fa_icon('trash'), skein, method: :delete, data: { confirm: 'Are you sure?' }  %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>

<br>


