<%= image_tag(@skein.photo_main, width: '100%') %>

<p>
  <strong>Price:</strong>
  AUD <%= "%.2f" % @skein.price %>
</p>

<p>
  <strong>Spinned by:</strong>
  <%= @skein.spinned_by.profile.first_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @skein.description %>
</p>

<p>
  <strong>Skein available:</strong>
  <%= @skein.skein_available %>
</p>

<p>
  <%= link_to 'About the yarn', yarn_path(@skein.yarn) %>
</p>

<% if current_user == @skein.spinned_by || logged_in?(:site_admin) %>
<%= link_to 'Edit', edit_skein_path(@skein) %> |
<% end %>
<%= link_to 'Back', skeins_path %>
