<h1>Yarns</h1>
  <% @yarns.each do |yarn| %>
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="http://placehold.it/350x200" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Yarn</h4>
        <%= yarn.weight %>
        <%= yarn.dye %>
        <%= yarn.spinned_as %>
        <%= yarn.metrage %>
        <%= yarn.diameter %>
        <%= yarn.ply %>
        <%= yarn.color %>
        <%= yarn.origin %>
        <p class="card-text"><%= yarn.description %></p>
        <%= link_to fa_icon('info-circle'), yarn %>
        <%= link_to fa_icon('pencil-square-o'), edit_yarn_path(yarn) %>
        <%= link_to fa_icon('trash'), yarn, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
    <% end %>


<br>

<%= link_to 'New Yarn', new_yarn_path %>
