<form>
<div class="form-group">
  <h2>Yarn id: <%= @yarn.id %></h2>
    <p>
      <strong>Weight:</strong>
      <div class="form-control">
      <%= @yarn.weight %>
      </div>
    </p>

    <p>
      <strong>Dye:</strong>
      <div class="form-control">
      <%= @yarn.dye %>
      </div>
    </p>

    <p>
      <strong>Spinned as:</strong>
      <div class="form-control">
      <%= @yarn.spinned_as %>
      </div>
    </p>

    <p>
      <strong>Metrage:</strong>
      <div class="form-control">
      <%= @yarn.metrage %>
      </div>
    </p>

    <p>
      <strong>Diameter:</strong>
      <div class="form-control">
      <%= @yarn.diameter %>
      </div>
    </p>

    <p>
      <strong>Ply:</strong>
      <div class="form-control">
      <%= @yarn.ply %>
      </div>
    </p>

    <p>
      <strong>Color:</strong>
      <div class="form-control">
      <%= @yarn.color %>
      </div>
    </p>

    <p>
      <strong>Origin:</strong>
      <div class="form-control">
      <%= @yarn.origin %>
      </div>
    </p>

    <p>
      <strong>Description:</strong>
      <div class="form-control">
      <%= @yarn.description %>
      </div>
    </p>
  </div>
</form>

<% if logged_in?(:site_admin, :spinner_seller) %>
<%= link_to 'Edit', edit_yarn_path(@yarn) %> 
<% end %>
